.ContactContainer {
    height: calc(100vh - 200px);
    background-color: #313131;
    color: white;
    
    max-width: 900px;
    margin: auto;
    margin-top: 300px;
    
}

.ContactContainer form, .SubmittedMessage {
    /* background-color: black; */
    padding: 100px 50px 50px 50px;
    width: 55%;
    position: relative;
    height: 400px;
}

.SubmittedMessage {
    display: flex;
    align-items: center;
}

.ContactContainer form h1 {
    background-color: #e1530f;
    width: 350px;
    padding: 15px 0;
    text-align: center;
    border-radius: 15px;
    text-transform: uppercase;
    position: absolute;
    top:-50px;
    right: calc((900px - 350px)/2);
}

.Contact {
    display: flex;
    background-color: black;
    justify-content: space-evenly;
    border-radius: 30px;
    align-items: baseline;
}
.ContactInfoWeb {
    text-transform: uppercase;
    font-weight: 600;
    margin: auto;
    margin-left: 30px;
}

.ContactInfoMobile {
    display: none;
}

input, textarea {
    background-color: #313131;
    color: grey;
    width: 100%;
    border:2px solid grey;
    padding: 10px;
    border-radius: 5px;
}

form button {
    margin-top: 15px;
    background-color: #e1530f;
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

@media screen and (max-width: 991px) {
    .ContactInfoWeb {
        display: none;

    }
    .ContactInfoMobile {
        text-transform: uppercase;
        font-weight: 600;
        margin: auto;
        margin-left: 30px;
        display: grid;
        height: 80vh;
        align-content: space-evenly;
    }

    .ContactContainer {
        width: 90vw;
        margin-top: 154px;
        height: calc(200vh - 200px);
    }

    .ContactContainer form, .SubmittedMessage {
        width: 75%;
        padding: 50px 15px 15px 0px;
    }

    .ContactContainer form h1 {
        width: 180px;
        right: calc((100% - 180px) / 2);
    }



    
}