.PaymentMethods {
    margin-top: 200px;
    background-color: white;
}

.StoreSearch {
    margin-top: 200px;
    background-color: #313131;
    padding-top: 100px;
    
    
}

.StoreSearchTitle {
    background-color: #e1530f;
    width: 300px;
    text-transform: uppercase;
    color: white;
    height: 75px;
    display: flex;
    justify-content: center;
    border-radius: 15px;
    margin: auto;
    position: absolute;
    right: calc((100% - 300px)/2);
    top: calc(-75px/2);
}

.StoreSearchContent {
    max-width: 700px;
    margin: auto;
    background-color: black;
    padding: 100px 50px 50px 50px;
    border-radius: 30px;
    position: relative;
}

.StoreSearchControls {
    display: flex;
    justify-content: space-evenly;
    max-width: 700px;
    margin: auto;
}

.StoreCurrentearch {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.StoreCurrentearchPhoto {
    width: 250px;
    border-radius: 15px;
}

.PaymentMethodsContent{
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
}

.Shipments {
    background-color: black;
    padding: 5%;
}

.ShipmentsContent{
    background-color: #313131;
    color: white;
    max-width: 1200px;
    border-radius: 15px;
    margin: auto;
    display: flex;
    padding: 30px;
}

.ShipmentsTitle {
    width: 30%;
}

.ShipmentsTitle h3{
   color: #e1530f;
   text-transform: uppercase;
   padding: 15px;
}

.ShipmentsText {
    width: 70%;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 991px) {
    .PaymentMethodsContent {
        display: grid;
        grid-template-areas:
        'title title'
        'row1A row1B'
        'row2A row2B';
        gap: 15px;
        padding-bottom: 25px;
    }

    .PaymentMethod {
        display: flex;
    }

    .item1 { grid-area: title; text-align: center; }
    .item2 { grid-area: row1A; justify-content: center;}
    .item3 { grid-area: row1B; justify-content: center;}
    .item4 { grid-area: row2A; justify-content: center;}
    .item5 { grid-area: row2B; justify-content: center;}

    .ShipmentsContent {
        display: grid;
        margin-bottom: 30px;
        height: 50vh;
        align-content: center;
        justify-items: center;
    }

    .ShipmentsTitle {
        width: unset;
    }

}