.PaymentMethods {
    margin-top: 200px;
    background-color: white;
}

.PaymentMethodsContent{
    display: flex;
    max-width: 1200px;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
}

.Shipments {
    background-color: black;
    padding: 5%;
}

.ShipmentsContent{
    background-color: #313131;
    color: white;
    max-width: 1200px;
    border-radius: 15px;
    margin: auto;
    display: flex;
    padding: 30px;
}

.ShipmentsTitle {
    width: 30%;
}

.ShipmentsTitle h3{
   color: #e1530f;
   text-transform: uppercase;
   padding: 15px;
}

.ShipmentsText {
    width: 70%;
}