.Container {
    min-height: 100vh;
    color: white;
    max-width: 1200px;
    margin: 250px auto auto;
}


@media screen and (max-width: 991px) {
    .Container {
        padding: 0 15px;
        margin: 150px auto auto;
    }
    
}