body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


body #root {
  overflow-x: hidden;
  background-color: #313131;
}

.text-danger{
  font-family: 'Montserrat', sans-serif;
  font-size: 0.75rem;
  font-weight: 400;
  color: #F33757;
  /* display: block; */
  opacity: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  margin-left: 15px;

}

.is-invalid{
  border: 1px solid #F33757;
  box-shadow: 0px 0px 4px #F33757;
}
